{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sheet/style.css' %}">
{% endblock %}

{% block content %}

    <div class="row align-items-center justify-content-between my-4">
        <div class="col-9">
            <h1 class="display-4">
                {% trans "List of 'region' components" %}
            </h1>
        </div>
        <div class="col-3 text-right">
            <a href="{% url 'sheet_region_create' %}" class="btn btn-biohome">
                Add a component
                <span class="fa fa-plus-square"></span>
            </a>
        </div>
    </div>

    <div class="list-group">
        {% for region in object_list %}
            <a href="{% url 'sheet_care_detail' region.pk %}" class="list-group-item list-group-item-action flex-column align-items-center my-2">
                <h3 class="mb-2">{{ region }}</h3>
                <p class="mb-0">{{ region.description }}</p>
            </a>
        {% endfor %}
    </div>

{% endblock %}
