{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="row justify-content-center" style="margin-top: 10%; margin-bottom: 4%">
        <div class="col-12">
            <h1 class="text-center">
                <span class="fa fa-cogs"></span>
                {% trans "Let's pair a biome !" %}
            </h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col">
            <form action="" method="post" class="form-group" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row justify-content-center">
                    <div class="col-6">
                        <input type="text" name="token" id="id_token" class="form-control" placeholder="{% trans "Enter the biome token here !" %}">
                    </div>

                    <div class="col-auto">
                        <button id="submit" class="btn btn-biohome">
                            Pair
                            <span class="fa fa-plug"></span>
                        </button>
                    </div>
                </div>
            </form>

            {% if form.errors %}
                <div class="row justify-content-center">
                    <div class="col-6 text-center">
                        <h1 class="display-5 mt-5">
                            Bad token
                            <span class="fa fa-ticket" style="color: #b51a14"></span>
                        </h1>
                    </div>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-6 text-center alert alert-danger" role="alert">
                        <p class="mb-0 text-dark">
                            It may be incorrect or has already been used.<br/>
                            Please, <a href="{% url 'biome_pairing' %}" class="alert-link">try again</a> !
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{#    <body>#}
{#        <div class="container" style="width: 400px">#}
{#            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                <br/>#}
{#                <div class="text-center">#}
{#                    <input class="btn btn-default" align="center" type="submit" value="{% trans 'Save' %}">#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </body>#}

{% endblock %}
