{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load operator_extras %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sheet/style.css' %}">
{% endblock %}

{% block content %}

    <div class="row align-items-center justify-content-between my-4">
        <div class="col-9">
            <h1 class="display-4">
                {% trans 'List of biomes' %}
            </h1>
        </div>
        <div class="col-3 text-right">
            <a href="{% url 'biome_pairing' %}" class="btn btn-biohome">
                Pair a biome
                <span class="fa fa-plus-square"></span>
            </a>
        </div>
    </div>

    <div class="list-group">
        {% for biome in object_list %}
            <a href="{% url 'biome_detail' biome.pk %}" class="list-group-item list-group-item-action flex-column align-items-start my-2">
                <div class="d-flex w-100 justify-content-between mb-3">
                    <div class="d-flex align-items-center">
                        <h3 class="mb-0 mr-3">{{ biome.name }}</h3>
                        {% if biome.current_cycle %}
                            <span class="badge badge-biohome">Active</span>
                        {% else %}
                            <span class="badge badge-secondary">Idle</span>
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex w-100 justify-content-left align-items-center my-1">
                    <p class="mb-0 mr-3">{% trans 'Program currently running: ' %}</p>
                    <span class="badge {% if biome.program %}badge-biohome-blue{% else %}badge-secondary{% endif %}">{{ biome.program }}</span>
                </div>
                <div class="d-flex w-100 justify-content-left align-items-center my-1">
                    <p class="mb-0 mr-3">{% trans 'Cycle currently running: ' %}</p>
                    <span class="badge {% if biome.current_cycle %}badge-biohome-blue{% else %}badge-secondary{% endif %}">{{ biome.current_cycle }}</span>
                </div>
                <div class="d-flex w-100 justify-content-end align-items-center my-1">
                    <span class="badge badge-info">{{ modules|index:forloop.counter0 }} modules</span>
                </div>
            </a>
        {% empty %}
            <p>You have no biome.</p>
        {% endfor %}
    </div>

{% endblock %}
