{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load string_extras %}

{% block content %}

    <script type="text/javascript" src="/static/js/graphModules.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.highlighter.js" integrity="sha256-VH+UCHtynUG7uZBAjdTxBMe5VGeGidYnJcOeC1xqyvg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.canvasAxisLabelRenderer.js" integrity="sha256-xn5zTvp/lPDVVEkWhlXJXiEURkiJTzeOgtXyzbU1x/s=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.canvasTextRenderer.js" integrity="sha256-43WkbFuOtOYU+epI3gZ/uikps8DpxVj48VAP1NtAUi4=" crossorigin="anonymous"></script>

    <div class="row justify-content-between align-items-center mb-4">
        <h1 class="display-4 mb-0">{{ object.name }}</h1>
        <div class="d-flex align-items-end text-right">
            <div class="text-right">
                <a href="{% url 'biome_update' object.pk %}">
                    <button id="submit" class="btn btn-biohome">
                        {% trans 'Edit' %}
                        <span class="fa fa-pencil-square-o"></span>
                    </button>
                </a>
                <button type="button" class="btn btn-biohome-wrong" data-toggle="modal" data-target="#modalDeleteBiome">
                    {% trans 'Delete' %}
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDeleteBiome" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deleting biome "{{ object.name }}"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    You're about deleting the biome named <strong>{{ object.name }}</strong>.
                    Are you sure you want to do this ?
                </div>
                <div class="modal-footer">
                    <form action="{% url 'biome1_delete' object.pk %}" method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, thanks</button>
                        <input type="submit" class="btn btn-biohome-wrong" value="{% trans 'Yep, delete it' %}" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row justify-content-center mt-4">
        <div class="col">
            <ul class="nav nav-tabs" id="biomeTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="modules-tab" data-toggle="tab" href="#modules" role="tab" aria-controls="modules" aria-selected="true">{% trans 'Modules' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="program-tab" data-toggle="tab" href="#program" role="tab" aria-controls="program" aria-selected="false">{% trans 'Program' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cycle-tab" data-toggle="tab" href="#cycle" role="tab" aria-controls="cycle" aria-selected="false">{% trans 'Cycle' %}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content px-4 mt-4" id="biomeTabContent">
        <div class="tab-pane fade show active" id="modules" role="tabpanel" aria-labelledby="modules-tab">
            <h3 class="mb-3">{% trans 'Modules' %}</h3>
            {% if modules %}
                {% for module in modules %}
                    <form action="{% url 'module_update' module.pk %}" method="post" id="module_{{ module.pk }}_form">
                        <input type="hidden" name="type" value="{{ module.type.pk }}">
                        {% if module.active == True %}
                            <input type="hidden" name="active" value=False>
                        {% else %}
                            <input type="hidden" name="active" value=True>
                        {% endif %}
                        <input type="hidden" name="biome" value="{{ module.biome.pk }}">
                        <input type="hidden" name="next" value="{% url 'biome_detail' object.pk %}">
                    </form>
                {% endfor %}

                <table class="table table-hover table-responsive text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="w-25 align-middle">Module name</th>
                            <th class="w-25 align-middle">Module version</th>
                            <th class="w-25 align-middle">Module activity</th>
                            <th class="w-25 align-middle">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in modules %}
                            <tr>
                                <td class="align-middle">{{ forloop.counter0 }}</td>
                                <td class="align-middle"><a href="{% url 'module_detail' module.pk %}">{{ module.type.name }}</a></td>
                                <td class="align-middle">{{ module.type.version }}</td>
                                {% if module.active %}
                                    <td class="success align-middle"><span class="badge badge-biohome">{% trans 'Active' %}</span></td>
                                    <td><button class="btn btn-biohome-wrong" type="submit" form="module_{{ module.pk }}_form">{% trans 'Deactivate' %}</button>
                                {% else %}
                                    <td class="danger align-middle"><span class="badge badge-biohome-wrong">{% trans 'Inactive' %}</span></td>
                                    <td><button class="btn btn-biohome" type="submit" form="module_{{ module.pk }}_form">{% trans 'Activate' %}</button>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <em>{% trans 'There is no module in this biome.' %}</em>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="program" role="tabpanel" aria-labelledby="program-tab">
            <h3 class="mb-3">{% trans 'Program currently running' %}</h3>
            <p>
                {% if object.program %}
                    <a href="{% url 'program_detail' object.program.pk %}" class="btn btn-biohome">
                        {{ object.program.name }}
                    </a>
                {% else %}
                    <span class="badge badge-secondary">{% trans 'None' %}</span>
                {% endif %}
            </p>
        </div>
        <div class="tab-pane fade" id="cycle" role="tabpanel" aria-labelledby="cycle-tab">
            <h3 class="mb-3">{% trans 'Cycle currently running' %}</h3>
            <p>
                {% if object.current_cycle %}
                    <a href="{% url 'cycle_detail' object.current_cycle.pk %}" class="btn btn-biohome">
                        {{ object.current_cycle }}
                    </a>
                {% else %}
                    <span class="badge badge-secondary">{% trans 'None' %}</span>
                {% endif %}
            </p>
        </div>
    </div>

    <hr />

	{% for key, val in readings.items %}
        <div class="row">
            <div class="col-12">
                <h3 class="display-5 text-center">{{ key }}</h3>
                <div name="readings" data-name="{{ key|replace_spaces }}" data-values="{{ val }}" id="{{ key|replace_spaces }}"></div>
                {% if not forloop.last %}
                    <hr />
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
