{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sheet/style.css' %}">
{% endblock %}

{% block content %}

    <div class="row align-items-center justify-content-between my-4">
        <div class="col-9">
            <h1 class="display-4">
                {% trans "List of 'size' components" %}
            </h1>
        </div>
        <div class="col-3 text-right">
            <a href="{% url 'sheet_size_create' %}" class="btn btn-biohome">
                Add a component
                <span class="fa fa-plus-square"></span>
            </a>
        </div>
    </div>

    <div class="list-group">
        {% for size in object_list %}
            <a href="{% url 'sheet_size_detail' size.pk %}" class="list-group-item list-group-item-action flex-column align-items-center my-2">
                <h3 class="mb-2">{{ size }}</h3>
                {% if size.description %}
                    <p class="mb-0">{{ size.description }}</p>
                {% else %}
                    <p class="mb-0 font-italic text-danger">{% trans 'There is no available description for this component.' %}</p>
                {% endif %}
            </a>
        {% endfor %}
    </div>

{% endblock %}
