{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Biohome" %} / {% trans "Account" %} / {% trans "Activate" %}{% endblock %}

{% block content %}

    <!--    Biohome: brand logo + brand name -->
    <div class="row justify-content-center">
        <div class="col-12 text-center" style="margin-bottom: 2%">
            <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
            <h1 class="display-4 mt-5">
                {% if account_activated %}
                    Well done.
                    <span class="fa fa-hand-peace-o" style="color: #6ab53c"></span>
                {% else %}
                    Uh-oh.
                    <span class="fa fa-free-code-camp" style="color: #b51a14"></span>
                {% endif %}
            </h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <blockquote class="blockquote text-center">
            {% if account_activated %}
                <p class="mb-0 text-dark">Your account has been activated successfully ! You can now log into your account.</p>
            {% else %}
                <p class="mb-0 text-dark">The link you tried to access seems invalid, possibly because it has already been used.</p>
            {% endif %}
            <footer class="blockquote-footer"><cite title="We love you <3">The Biohome team</cite></footer>
        </blockquote>
    </div>

{% endblock %}