{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <!--    Biohome: brand logo + brand name -->
    <div class="row justify-content-center">
        <div class="col-6 text-center" style="margin-bottom: 2%">
            <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
            <h1 class="mt-5">Biohome</h1>
        </div>
    </div>

    {% if form.errors or next %}
        <!--    Biohome: Form errors (if any) -->
        <div class="row justify-content-center my-3">
            <div class="col-6 text-center">
                {% if form.errors %}
                    <p class="alert alert-danger my-2">Your username and password didn't match.<br /> Please try again.</p>
                {% elif next %}
                    {% if user.is_authenticated %}
                        <p class="alert alert-warning my-2">Your account doesn't have access to this page.<br />
                            To proceed, please login with an account that has access.</p>
                    {% else %}
                        <p class="alert alert-warning my-2">Please login to see this page.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    <!--    Biohome: Login form -->
    <div class="row justify-content-center">
        <div class="col-4">
            <p class="text-center">
                {% trans "No account yet ?" %}
                <strong><a class="text-dark" href="{% url 'signup' %}">{% trans "Sign up here" %}</a></strong>
            </p>

            <form method="post" class="loginForm" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input type="text" id="id_username" name="username" class="form-control" placeholder="{% trans "Username" %}" autofocus>
                </div>

                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input type="password" id="id_password" name="password" class="form-control" placeholder="{% trans "Password" %}">
                </div>

                <div class="form-group">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <input type="submit" id="submit" class="btn btn-outline-dark form-control"  value="{% trans "Log me in" %}">
                </div>
            </form>

            <p class="text-center">
                <strong><a class="text-dark" href="{% url 'password_reset' %}">{% trans "Forgot your password ?" %}</a></strong>
            </p>
        </div>
    </div>

{% endblock %}
