{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    {% if validlink %}
        <!--    Biohome: brand logo + brand name -->
        <div class="row justify-content-center">
            <div class="col-6 text-center" style="margin-bottom: 2%">
                <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
                <h1 class="mt-5">Set a new password</h1>
            </div>
        </div>

        {% if form.errors %}
            <!--    Biohome: Form errors (if any) -->
            <div class="row justify-content-center my-3">
                <div class="col-6 text-center">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="alert alert-danger my-2" style="padding: 0">
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row justify-content-center">
            <div class="col-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_new_password1">New password</label>
                        <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="{% trans "New password" %}" autofocus>
                    </div>

                    <div class="form-group">
                        <label for="id_new_password2">New password (again)</label>
                        <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="{% trans "Repeat it" %}">
                    </div>

                    <div class="form-group">
                        <input type="submit" id="submit" class="btn btn-outline-dark form-control" value="{% trans 'Set my new password' %}">
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <!--    Biohome: brand logo + brand name -->
        <div class="row justify-content-center">
            <div class="col-6 text-center" style="margin-bottom: 2%">
                <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
                <h1 class="mt-5">
                    Uh-oh.
                    <span class="fa fa-frown-o" style="color: #b51a14"></span>
                </h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <p class="alert alert-danger text-center">{% trans 'The password reset link was invalid, possibly because it has already been used.' %}</p>

                {% url 'password_reset' as password_reset_url %}
                {% blocktrans %}
                    <p class="alert alert-info text-center">
                        Please, <a href="{{ password_reset_url }}" class="alert-link">request a new password reset.</a>
                    </p>
                {% endblocktrans %}
            </div>
        </div>
    {% endif %}

{% endblock %}