{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <!--    Biohome: brand logo + brand name -->
    <div class="row justify-content-center">
        <div class="col-6 text-center" style="margin-bottom: 2%">
            <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
            <h1 class="mt-5">Change your password</h1>
        </div>
    </div>

    {% if form.errors %}
        <!--    Biohome: Form errors (if any) -->
        <div class="row justify-content-center my-3">
            <div class="col-6 text-center">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="alert alert-danger my-2" style="padding: 0">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_old_password">Old password</label>
                    <input type="password" id="id_old_password" name="old_password" class="form-control" placeholder="{% trans "Old password" %}" autofocus>
                </div>

                <div class="form-group form-row">
                    <div class="col">
                        <label for="id_new_password1">New password</label>
                        <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="{% trans "New password" %}">
                    </div>

                    <div class="col">
                        <label for="id_new_password2">New password (again)</label>
                        <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="{% trans "Repeat it" %}">
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" id="submit" class="btn btn-outline-dark form-control" value="{% trans 'Change my password' %}">
                </div>
            </form>
        </div>
    </div>

{% endblock %}