{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <!--    Biohome: brand logo + brand name -->
    <div class="row justify-content-center">
        <div class="col-6 text-center" style="margin-bottom: 2%">
            <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
            <h1 class="mt-5">Reset your password</h1>
        </div>
    </div>

    {% if form.errors %}
        <!--    Biohome: Form errors (if any) -->
        <div class="row justify-content-center my-3">
            <div class="col-6 text-center">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="alert alert-danger my-2" style="padding: 0">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-6">
            <p class="alert alert-success text-center">{% trans 'An email will be sent to your address with a link to reset your password.' %}</p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_email">Mail address</label>
                    <input type="password" id="id_email" name="email" class="form-control" placeholder="{% trans "Email" %}" autofocus>
                </div>

                <div class="form-group">
                    <input type="submit" id="submit" class="btn btn-outline-dark form-control" value="{% trans 'Send me an email' %}">
                </div>
            </form>
        </div>
    </div>

{% endblock %}