{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <!--    Biohome: brand logo + brand name -->
    <div class="row justify-content-center">
        <div class="col-6 text-center" style="margin-bottom: 2%">
            <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
            <h1 class="mt-5">
                It's all good.
                <span class="fa fa-smile-o" style="color: #6ab53c"></span>
            </h1>
        </div>
    </div>

    <div class="row justify-content-center my-3">
        <div class="col-12">
            <p class="alert alert-success text-center">
                {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered." %} <br />
                {% trans "You should receive them shortly." %}
            </p>

            <p class="alert alert-info text-center">
                {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
            </p>
        </div>
    </div>

        <div class="row justify-content-center">
        <div class="col-6">
            <div class="form-group">
                <a class="btn btn-outline-dark form-control" href="{% url 'dashboard' %}">{% trans 'Return to the main page' %}</a>
            </div>
        </div>
    </div>

{% endblock %}