{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <!--    Biohome: brand logo + brand name -->
    <div class="row justify-content-center">
        <div class="col-6 text-center" style="margin-bottom: 2%">
            <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
            <h1 class="mt-5">
                It's all good.
                <span class="fa fa-smile-o" style="color: #6ab53c"></span>
            </h1>
        </div>
    </div>

    <div class="row justify-content-center my-3">
        <div class="col-4">
            <p class="alert alert-success text-center">{% trans 'Your password has been updated successfully !' %}</p>

            <div class="form-group">
                <a class="btn btn-outline-dark form-control" href="{% url 'dashboard' %}">{% trans 'Return to the main page' %}</a>
            </div>
        </div>
    </div>

{% endblock %}