{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <!--    Biohome: brand logo + brand name -->
    <div class="row justify-content-center">
        <div class="col-12 text-center" style="margin-bottom: 2%">
            <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
            <h1 class="display-4 mt-5">
                Thank you !
                <span class="fa fa-heart" style="color: #6ab53c"></span>
            </h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <blockquote class="blockquote text-center">
            <p class="mb-0 text-dark">An email has been sent to your address with a link to activate your account.</p>
            <footer class="blockquote-footer"><cite title="We love you <3">The Biohome team</cite></footer>
        </blockquote>
    </div>

{% endblock %}