{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <!--    Biohome: brand logo + brand name -->
    <div class="row justify-content-center">
        <div class="col-6 text-center" style="margin-bottom: 2%">
            <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
            <h1 class="mt-5">Sign up to Biohome</h1>
        </div>
    </div>

    {% if form.errors %}
        <!--    Biohome: Form errors (if any) -->
        <div class="row justify-content-center my-3">
            <div class="col-6 text-center">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="alert alert-danger my-2" style="padding: 0">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-4">
            <form method="post" class="loginForm" action="{% url 'signup' %} " enctype="multipart/form-data">
                {% csrf_token %}

                <p class="text-center">
                    <strong><a class="text-dark" href="{% url 'login' %}">{% trans "Already got an account ?" %}</a></strong>
                </p>

                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input type="text" id="id_username" name="username" class="form-control" required placeholder="{% trans "Username" %}">
                </div>

                <div class="form-group">
                    <label for="id_email">Mail address</label>
                    <input type="email" id="id_email" name="email" class="form-control" required placeholder="{% trans "Email" %}">
                </div>

                <div class="form-group form-row">
                    <div class="col">
                        <label for="id_first_name">First name</label>
                        <input type="text" id="id_first_name" name="first_name" class="form-control" placeholder="{% trans "First name" %}">
                    </div>

                    <div class="col">
                        <label for="id_last_name">Last name</label>
                        <input type="text" id="id_last_name" name="last_name" class="form-control" placeholder="{% trans "Last name" %}">
                    </div>
                </div>

                <div class="form-group form-row">
                    <div class="col">
                        <label for="id_password1">Password</label>
                        <input type="password" id="id_password1" name="password1" class="form-control" required placeholder="{% trans "Password" %}">
                    </div>

                    <div class="col">
                        <label for="id_password2">Password (again)</label>
                        <input type="password" id="id_password2" name="password2" class="form-control" required placeholder="{% trans "Confirm it" %}">
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" id="submit" class="btn btn-outline-dark form-control" value="{% trans 'Sign me up' %}">
                </div>
            </form>
        </div>
    </div>

{% endblock %}