{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load operator_extras %}

{% block content %}

    <!--    Biohome: title -->
    <div class="row justify-content-center" style="margin-top: 10%; margin-bottom: 4%">
        <div class="col-12">
            <h1 class="text-center">
                <span class="fa fa-pagelines"></span>
                {% trans "What are you going to plant today ?" %}
            </h1>
        </div>
    </div>

    <!--    Biohome: "culture sheets" search bar -->
    <div class="row justify-content-center">
        <div class="col">
            <form action="{% url 'sheet_list' %}" method="get" class="form-group">
                <div class="form-row justify-content-center">
                    <div class="col-auto">
                        <a href="{% url 'sheet_create' %}" class="btn btn-biohome">
                            <span class="fa fa-plus-square"></span>
                        </a>
                    </div>

                    <div class="col-6">
                        <input type="text" name="search" class="form-control" placeholder="{% trans "What about 'basil' or 'fruits', or even 'mushrooms' ?" %}">
                    </div>

                    <div class="col-auto">
                        <button id="submit" class="btn btn-biohome">
                            Search
                            <span class="fa fa-leaf"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% for culture in sheet_list %}
        {% if forloop.counter0|modulo:4 == 0 %}
            <div class="row justify-content-center my-5">
                <div class="card-deck">
        {% endif %}
                    <div class="card">
                        <img class="card-img-top" src="{% if culture.image %} /{{ culture.image.url }} {% else %} /media/biohome-logo.png {% endif %}" alt="{{ culture.name }}" style="height: 180px">
                        <div class="card-body" style="padding: 1.0rem">
                            <h5 class="card-title">{{ culture.name }}</h5>
                            <p class="card-text">{{ culture.description }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'sheet_detail' culture.pk %}" class="btn btn-sm btn-biohome">
                                View details
                                <span class="fa fa-info-circle ml-2"></span>
                            </a>
                        </div>
                    </div>
        {% if forloop.counter0|modulo:3 == 0 and forloop.counter0 > 0 or forloop.last %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <link rel="stylesheet" href="{% static 'css/sheet/sheet_search.css' %}">
    <script src="{% static 'js/culture_sheets_cards.js' %}"></script>

{#    <div class="row justify-content-center">#}
{#        <div class="col-12">#}
{#            {% for tag in tags %}#}
{#                <a href="{% url 'sheet_list' %}?tag={{ tag.pk }}" style="font-size: {{ tag.size }};">{{ tag.label }}</a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}

{% endblock %}
