{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-3 text-right">
            <img class="img-thumbnail rounded-circle" src="{% if object.image %} /{{ object.image.url }} {% else %} /media/biohome-logo.png {% endif %}" alt="{{ object.name }}" style="width: 256px; height: 256px">
        </div>
        <div class="col-6 align-self-center text-left">
            <div class="row">
                <h1>{{ object.name }}</h1>
            </div>
            <div class="row">
                <h4><em>{{ object.binomial_name }}</em></h4>
            </div>
            <div class="row align-bottom">
                {% for tag in object.tags.all %}
                    <span class="badge badge-biohome m-1">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="col-3 d-flex align-items-end flex-column">
            <div>
                <a href="{% url 'sheet_update' object.pk %}">
                    <button id="submit" class="btn btn-biohome">
                        {% trans 'Edit' %}
                        <span class="fa fa-pencil-square-o"></span>
                    </button>
                </a>
                <button type="button" class="btn btn-biohome-wrong" data-toggle="modal" data-target="#deleteSheetModal">
                    {% trans 'Delete' %}
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>

            <div class="mt-auto">
                <div class="btn-group-vertical">
                    <a href="/sheets/{{ object.pk }}/upvote" class="btn btn-secondary">
                        <span class="fa fa-arrow-up"></span>
                    </a>
                    <p class="btn m-0">{{ object.votes.score }}</p>
                    <a href="/sheets/{{ object.pk }}/downvote" class="btn btn-secondary">
                        <span class="fa fa-arrow-down"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <hr>
            <p class="text-justify text-dark font-italic">{{ object.description }}</p>
            <hr>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12" id="accordion" role="tablist">

            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Usage
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify text-dark">{{ object.usage }}</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Characteristics
                        </a>
                    </h5>
                </div>

                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row my-3">
                            <div class="col-12 d-flex align-items-center">
                                <span class="fa fa-calendar fa-2x text-center" style="min-width: 64px"></span>
                                <p class="text-dark m-0">
                                    {% trans 'Plant from' %} {{ object.plant_start|date:"M d" }} {% trans 'to' %} {{ object.plant_end|date:"M d" }}
                                </p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 d-flex align-items-center">
                                <span class="fa fa-calendar-check-o fa-2x text-center" style="min-width: 64px"></span>
                                <p class="text-dark m-0">
                                    {% trans 'Harvest from' %} {{ object.plant_start|date:"M d" }} {% trans 'to' %} {{ object.plant_end|date:"M d" }}
                                </p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 d-flex align-items-center">
                                <span class="fa fa-clock-o fa-2x text-center" style="min-width: 64px"></span>
                                <p class="text-dark m-0">
                                    {% trans 'Maturing time' %}: {{ object.maturing_in }} week{{ object.maturing_in|pluralize }}
                                </p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 d-flex align-items-center">
                                <span class="fa fa-exclamation-circle fa-2x text-center" style="min-width: 64px"></span>
                                <p class="text-dark m-0">
                                    {% trans 'Care' %}: {{ object.care }}
                                </p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 d-flex align-items-center">
                                <span class="fa fa-thermometer-three-quarters fa-2x text-center" style="min-width: 64px"></span>
                                <p class="text-dark m-0">
                                    {% trans 'Climate' %}: {{ object.climate }}
                                </p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 d-flex align-items-center">
                                <span class="fa fa-sun-o fa-2x text-center" style="min-width: 64px"></span>
                                <p class="text-dark m-0">
                                    {% trans 'Exposition' %}: {{ object.exposition }}
                                </p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 d-flex align-items-center">
                                <span class="fa fa-signal fa-2x text-center" style="min-width: 64px"></span>
                                <p class="text-dark m-0">
                                    {% trans 'Size' %}: {{ object.size }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Taxonomy
                        </a>
                    </h5>
                </div>

                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row my-3">
                            <div class="col-12 d-flex align-items-center">
                                <span class="fa fa-sitemap fa-2x text-center" style="min-width: 64px"></span>
                                <p class="text-dark m-0">
                                    {{ object.taxonomy }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <h3 id="row comments">Comments</h3>
            <form action="./comment" method="post" enctype="multiplart/form-data">{% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{% trans 'Title'%}" name="title"/><br/>
                    <textarea name="comment" class="form-control" placeholder="{% trans 'Comment' %}"></textarea><br/>
                    <input type="submit" class="btn btn-outline-dark form-control" value="{% trans 'Submit' %}"/>
                </div>
            </form>
            <hr>
            {% for comment in object.comments.all %}
                <div class="media">
                    <img class="mr-3" src="/media/biohome-logo.png" alt="Biohome Logo" style="max-height: 64px">
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.title }}</h5>
                        {{ comment.comment|linebreaks }}
                    </div>
                        by {{ comment.author }}
                </div>

                {% if not forloop.last %}
                    <hr class="col-6 text-center" />
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="deleteSheetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deleting "{{ object.name }}" culture sheet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    You're about deleting the culture sheet named <strong>{{ object.name }}</strong>.
                    Are you sure you want to do this ?
                </div>
                <div class="modal-footer">
                    <form action="{% url 'sheet_delete' object.pk %}" method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, thanks</button>
                        <input type="submit" class="btn btn-biohome-wrong" value="{% trans 'Yep, delete it' %}" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
