{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load operator_extras %}

{% block content %}

    <!--    Biohome: title -->
    <div class="row justify-content-center" style="margin-top: 10%; margin-bottom: 4%">
        <div class="col-12">
            <h1 class="text-center">
                <span class="fa fa-pagelines"></span>
                {% trans "What are you going to plant today ?" %}
            </h1>
        </div>
    </div>

    <!--    Biohome: "culture sheets" search bar -->
    <div class="row justify-content-center">
        <div class="col">
            <form action="{% url 'sheet_list' %}" method="get" class="form-group">
                <div class="form-row justify-content-center">
                    <div class="col-auto">
                        <a href="{% url 'sheet_create' %}" class="btn btn-biohome">
                            <span class="fa fa-plus-square"></span>
                        </a>
                    </div>

                    <div class="col-6">
                        <input type="text" name="search" class="form-control" placeholder="{% trans "What about 'basil' or 'fruits', or even 'mushrooms' ?" %}">
                    </div>

                    <div class="col-auto">
                        <button id="submit" class="btn btn-biohome">
                            Search
                            <span class="fa fa-leaf"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% for culture in sheet_list %}
        {% if forloop.counter0|modulo:4 == 0 %}
            <div class="row justify-content-center my-5">
                <div class="card-deck">
        {% endif %}
                    <div class="card" style="max-width: 300px">
                        <a href="{% url 'sheet_detail' culture.pk %}">
                            <img class="card-img-top" src="{% if culture.image %} /{{ culture.image.url }} {% else %} /media/biohome-logo.png {% endif %}" alt="{{ culture.name }}" style="height: 180px">
                        </a>
                        <div class="card-body" style="padding: 1.0rem">
                            <h5 class="card-title">{{ culture.name }}</h5>
                            <p class="card-text text-justify">{{ culture.description }}</p>
                        </div>
                        <div class="card-footer d-inline-flex align-items-center justify-content-between">
                            <div>
                               <a href="{% url 'sheet_detail' culture.pk %}" class="btn btn-sm btn-biohome">
                                   View details

                                    <span class="fa fa-info-circle ml-2"></span>
                                </a>
                            </div>

                            <div class="justify-content-center float-right">
                                {{ culture.votes.score }}
                                {% if culture.votes.score < 0 %}
                                    <span class="fa fa-thumbs-down" style="color: #b51a14"></span>
                                {% else %}
                                    <span class="fa fa-thumbs-up" {% if culture.votes.score > 0 %}style="color: #6ab53c"{% endif %}></span>
                                {% endif %}

                                <a href="{% url 'sheet_detail' culture.pk %}#comments">
                                    {{ culture.comments.all|length }}
                                    <span class="fa fa-comments"></span>
                                </a>
                            </div>
                        </div>
                    </div>
        {% if forloop.counter|modulo:4 == 0 or forloop.last %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <link rel="stylesheet" href="{% static 'css/sheet/sheet_search.css' %}">
    <script src="{% static 'js/culture_sheets_cards.js' %}"></script>

{% endblock %}
