{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Biohome" %} / {% trans "Program cycles" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sheet/style.css' %}">
{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <div class="sheets-header">
                <h2>Cycles
                    <a href={% url "cycle_create" %} class="btn btn-default btn-lg pull-right sheet-create">
                        <span class="glyphicon glyphicon-plus"></span> Create
                    </a>
                </h2>
            </div>

            <div class="list-group">
                {% for obj in object_list %}
                    <a href="{% url 'cycle_detail' obj.pk %}" class="list-group-item">
                        <h3 class="list-group-item-heading">{{ obj.name }} <small>(<strong>{{ obj.rounds }}</strong> {% trans 'round(s)' %})</small></h3>
                        <p class="list-group-item-text">{% trans 'Linked program' %}:
                            <strong><em>
                                {% if obj.program %}
                                    <object>
                                        <a href="{% url 'program_detail' obj.program.pk %}">{{ obj.program }}</a>
                                    </object>
                                {% else %}
                                    {% trans 'None' %}
                                {% endif %}
                            </em></strong>
                        </p>
                        <p class="list-group-item-text">{% trans 'Next cycle' %}:
                            <strong><em>
                                {% if obj.next %}
                                    <object>
                                        <a href="{% url 'cycle_detail' obj.next.pk %}">{{ obj.next }}</a>
                                    </object>
                                {% else %}
                                    {% trans 'None' %}
                                {% endif %}
                            </em></strong>
                        </p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}
