{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Biohome" %} / {% trans "Program cycle" %} / {% trans "Details" %}{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <h1>{{ object.name }}
            <div class="btn-group pull-right">
                <a href="{% url 'cycle_update' object.pk %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
                </a>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalDeleteProgramCycle">
                    <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
                </button>
            </div>
            </h1>

            <!-- Modal -->
            <div class="modal fade" id="modalDeleteProgramCycle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Do you really want to delete'%} {{ object.name }}?</h4>
            </div>
            <div class="modal-body text-center">
                <form action="{% url 'cycle1_delete' object.pk %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close'%}</button>
                    <input type="submit" class="btn btn-primary" value="{% trans 'Yes' %}" />
                </form>
            </div>
            </div></div></div>

            <br />
            <h3>{% trans 'Associated program' %}</h3>
            <p>
                {% if object.program %}
                    <a href="{% url 'program_detail' object.program.pk %}" class="btn btn-default"><strong>{{ object.program }}</strong></a>
                {% else %}
                    <em>{% trans 'None' %}</em>
                {% endif %}
            </p>

            <h3>{% trans 'Next cycle' %}</h3>
            <p>
                {% if object.next %}
                    <a href="{% url 'cycle_detail' object.next.pk %}" class="btn btn-default"><strong>{{ object.next }}</strong></a>
                {% else %}
                    <em>{% trans 'None' %}</em>
                {% endif %}
            </p>
        </div>
    </body>
{% endblock %}
