{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sheet/style.css' %}">
{% endblock %}

{% block content %}

    <div class="row align-items-center justify-content-between my-4">
        <div class="col-9">
            <h1 class="display-4">
                {% trans "List of 'tag' components" %}
            </h1>
        </div>
        <div class="col-3 text-right">
            <a href="{% url 'sheet_tag_create' %}" class="btn btn-biohome">
                Create a tag
                <span class="fa fa-plus-square"></span>
            </a>
        </div>
    </div>

    <div class="list-group">
        {% for tag in object_list %}
            <a href="{% url 'sheet_tag_detail' tag.pk %}" class="list-group-item list-group-item-action flex-column align-items-center text-center my-2">
                <span class="badge badge-biohome"><h3 class="mb-0">{{ tag }}</h3></span>
            </a>
        {% endfor %}
    </div>

{% endblock %}
