{% extends 'base.html' %}

{% block content %}
<body>
  <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
  </form>
</body>
{% endblock %}
