{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Biohome - Permission forbidden{% endblock %}

{% block content %}

    <!--    Biohome: brand logo + brand name -->
    <div class="row justify-content-center">
        <div class="col-12 text-center" style="margin-bottom: 2%">
            <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
            <h1 class="display-4 mt-5">
                Permission denied
                <span class="fa fa-ban" style="color: #b51a14"></span>
            </h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <iframe src="https://giphy.com/embed/QIPEV0HWAiXVm" width="42%" height="42%" frameBorder="0"></iframe>
    </div>

    <div class="row justify-content-center mt-5">
        <blockquote class="blockquote text-center">
            <p class="mb-0 text-dark">You don't have the sufficient permissions to access to this page.</p>
            <footer class="blockquote-footer"><cite title="We love you <3">The Biohome team</cite></footer>
        </blockquote>
    </div>

{% endblock %}
