{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% trans "Biohome" %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/biohome.css' %}">
    {% block extra_head %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

{% block navbar %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            Biohome
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% url 'sheet_search' as sheet_search_url %}
                {% url 'program_list' as program_list_url %}
                {% url 'biome_list' as biome_list_url %}
                <li class="{% if request.path == sheet_search_url %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans "Sheets" %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">{% trans 'Sheets list' %}</li>
                        <li><a href="{% url 'sheet_search'%}">{% trans "Sheets" %}</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">{% trans 'Sheet components' %}</li>
                        <li><a href="{% url 'sheet_care_list'%}">{% trans "Cares" %}</a></li>
                        <li><a href="{% url 'sheet_climate_list'%}">{% trans "Climates" %}</a></li>
                        <li><a href="{% url 'sheet_exposition_list'%}">{% trans "Expositions" %}</a></li>
                        <li><a href="{% url 'sheet_region_list'%}">{% trans "Regions" %}</a></li>
                        <li><a href="{% url 'sheet_size_list'%}">{% trans "Sizes" %}</a></li>
                        <li><a href="{% url 'sheet_tag_list'%}">{% trans "Tags" %}</a></li>
                        <li><a href="{% url 'sheet_taxonomy_list'%}">{% trans "Taxonomies" %}</a></li>
                        <li><a href="{% url 'sheet_taxonomy_rank_list'%}">{% trans "Taxonomy ranks" %}</a></li>
                    </ul>
                </li>
                <li class="{% if request.path == program_list_url %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans "Programs" %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">{% trans 'Programs list' %}</li>
                        <li><a href="{% url 'program_list'%}">{% trans "Programs" %}</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">{% trans 'Program components' %}</li>
                        <li><a href="{% url 'cycle_list'%}">{% trans "Cycles" %}</a></li>
                        <li><a href="{% url 'workload_list'%}">{% trans "Workloads" %}</a></li>
                    </ul>
                </li>
                <li class="{% if request.path == biome_list_url %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans "Biomes" %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">{% trans 'Biomes list' %}</li>
                        <li><a href="{% url 'biome_list'%}">{% trans "Biomes" %}</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">{% trans 'Biome components' %}</li>
                        <li><a href="{% url 'module_list'%}">{% trans "Modules" %}</a></li>
                    </ul>
                </li>
              </ul>
    {% endif %}

      <!--<form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>-->

    <ul class="nav navbar-nav navbar-right">
        <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "en" %}English{% else %}Français{%endif%}
        <span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% if LANGUAGE_CODE != "en" %}
        <li>
            <form id="language-form" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <input name="language" type="hidden" value="en" />
            </form>
            <a href="javascript:{}" onclick="document.getElementById('language-form').submit();">English</a>
        </li>
        {% endif %}

        {% if LANGUAGE_CODE != "fr" %}
        <li>
            <form id="language-form" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <input name="language" type="hidden" value="fr" />
            </form>
            <a href="javascript:{}" onclick="document.getElementById('language-form').submit();">Français</a>
        </li>
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout'%}">{% trans "Logout" %} <strong>({{ user.username }})</strong></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "My account" %}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'user_details' user.pk %}">{% trans "My profile" %}</a></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
    {% else %}
        <li><a href="{% url 'login'%}">{% trans "Log in" %}</a></li>
        <li><a href="{% url 'signup'%}">{% trans "Sign Up" %}</a></li>
    {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}
<body>
  Base.html
</body>

{% endblock %}

</html>
