{% load static %}
<!DOCTYPE html>
{% load i18n %}
<html xml:lang="fr">
  <head>
    {% block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% trans "Biohome" %}{% endblock %}</title>
    {% endblock head %}

    {% block css %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/jquery.jqplot.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/biohome.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" type="text/css">
    {% endblock css %}

    {% block extra_css %}
    {% endblock extra_css %}
    </head>

    <body>
    {% block js %}
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/jquery.jqplot.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/clamp-js@0.7.0/clamp.js"></script>
        <script src="{% static 'js/sidebar.js' %}"></script>
    {% endblock js %}

    {% block sidebar %}
        <div class="wrapper">
            <nav id="sidebar">
                <!-- Sidebar Header -->
                <div class="sidebar-header">
                    <img src="/media/biohome-logo.png" id="sidebarCollapse" />
                    <h3>Biohome</h3>
                </div>

                <!-- Sidebar Links -->
                <ul class="list-unstyled components">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'dashboard' %}">
                                <i class="fa fa-tachometer fa-lg"></i>
                                {% trans 'Dashboard' %}
                            </a>
                        </li>
                        <li>
                            <a href="#biomesSubmenu" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-leaf fa-lg"></i>
                                {% trans 'Biomes' %}
                            </a>
                            <ul class="collapse list-unstyled" id="biomesSubmenu">
                                <li><a href="{% url 'biome_list' %}">{% trans 'My biomes' %}</a></li>
                                <li><a href="{% url 'module_list' %}">{% trans 'Modules' %}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#programsSubmenu" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-tasks fa-lg"></i>
                                {% trans 'Programs' %}
                            </a>
                            <ul class="collapse list-unstyled" id="programsSubmenu">
                                <li><a href="{% url 'program_list' %}">{% trans 'Programs list' %}</a></li>
                                <li><a href="{% url 'cycle_list' %}">{% trans 'Cycles' %}</a></li>
                                <li><a href="{% url 'workload_list' %}">{% trans 'Workloads' %}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#sheetsSubmenu" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-file fa-lg"></i>
                                {% trans 'Sheets' %}
                            </a>
                            <ul class="collapse list-unstyled" id="sheetsSubmenu">
                                <li><a href="{% url 'sheet_list' %}">{% trans 'Sheets list' %}</a></li>
                                <li><a href="{% url 'sheet_care_list' %}">{% trans 'Cares' %}</a></li>
                                <li><a href="{% url 'sheet_climate_list' %}">{% trans 'Climates' %}</a></li>
                                <li><a href="{% url 'sheet_exposition_list' %}">{% trans 'Expositions' %}</a></li>
                                <li><a href="{% url 'sheet_region_list' %}">{% trans 'Regions' %}</a></li>
                                <li><a href="{% url 'sheet_size_list' %}">{% trans 'Sizes' %}</a></li>
                                <li><a href="{% url 'sheet_tag_list' %}">{% trans 'Tags' %}</a></li>
                                <li><a href="{% url 'sheet_taxonomy_list' %}">{% trans 'Taxonomies' %}</a></li>
                                <li><a href="{% url 'sheet_taxonomy_rank_list' %}">{% trans 'Taxonomy ranks' %}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'users_list' %}">
                                <i class="fa fa-users fa-lg"></i>
                                {% trans 'Users' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'forum:index' %}">
                                <i class="fa fa-comments-o fa-lg"></i>
                                {% trans 'Forum' %}
                            </a>
                        </li>
                        <hr/>
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="fa fa-sign-out fa-lg"></i>
                                {% trans 'Log out' %}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'dashboard' %}">
                                <i class="fa fa-home fa-lg"></i>
                                {% trans 'Home' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">
                                <i class="fa fa-sign-in fa-lg"></i>
                                {% trans 'Log in' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">
                                <i class="fa fa-user-plus"></i>
                                {% trans 'Sign up' %}
                            </a>
                        </li>
                    {% endif %}
                    <hr/>
                    <div class="container">
                        <form id="language-form" action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input id="language-code" name="language" type="hidden" value="en" />
                        </form>
                        <div class="row justify-content-around">
                            <a href="javascript:{}" onclick="
                            document.getElementById('language-code').setAttribute('value', 'fr');
                            document.getElementById('language-form').submit();">
                                <img src="/media/flag-france.png" height="32px">
                            </a>
                            <a href="javascript:{}" onclick="
                            document.getElementById('language-code').setAttribute('value', 'en');
                            document.getElementById('language-form').submit();">
                                <img src="/media/flag-us.png" height="32px">
                            </a>
                        </div>
                    </div>
                </ul>
            </nav>

            <div id="content">
                <div class="container">
                    {% block content %}
                        base.html
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock sidebar %}
    <!-- {% block body %} -->
    <!-- {% endblock body %} -->

    {% block extra_js %}
    {% endblock extra_js %}
    </body>
</html>
