@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons_halflings/glyphicons-halflings-regular.eot') format('eot'),
         url('../fonts/glyphicons_halflings/glyphicons-halflings-regular.svg') format('svg'),
         url('../fonts/glyphicons_halflings/glyphicons-halflings-regular.ttf') format('ttf'),
         url('../fonts/glyphicons_halflings/glyphicons-halflings-regular.woff') format('woff'),
         url('../fonts/glyphicons_halflings/glyphicons-halflings-regular.woff2') format('woff2');
}

.badge-biohome {
    color: #fff;
    background-color: #6ab53c;
}

.badge-biohome-blue {
    color: #fff;
    background-color: #2980b9;
}

.badge-biohome-wrong {
    color: #fff;
    background-color: #b51a14;
}

.btn-biohome {
    color: #fff;
    background-color: #6ab53c;
    border-color: #64af3c;
}

.btn-biohome-blue {
    color: #fff;
    background-color: #2980b9;
    border-color: #297bb4;
}

.btn-biohome-wrong {
    color: #fff;
    background-color: #b51a14;
    border-color: #911914;
}

.card-text {
    font-size: 1.0em;
}
