{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sheet/style.css' %}">
{% endblock %}

{% block content %}

    <div class="row align-items-center justify-content-between my-4">
        <div class="col-9">
            <h1 class="display-5">
                {% trans "List of 'taxonomy rank' components" %}
            </h1>
        </div>
        <div class="col-3 text-right">
            <a href="{% url 'sheet_taxonomy_rank_create' %}" class="btn btn-biohome">
                Add a component
                <span class="fa fa-plus-square"></span>
            </a>
        </div>
    </div>

    <div class="list-group">
        {% for rank in object_list %}
            <a href="{% url 'sheet_taxonomy_rank_detail' rank.pk %}" class="list-group-item list-group-item-action flex-column align-items-center my-2">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <h3 class="mb-0">{{ rank }}</h3>
                    <div class="text-right">
                        <p class="mb-0 ">{% trans 'Parent' %}</p>
                        <span class="badge {% if rank.parent %}badge-biohome-blue{% else %}badge-secondary{% endif %}">{{ rank.parent }}</span>
                    </div>
                </div>
                <p class="mb-0">{{ rank.description }}</p>
            </a>
        {% endfor %}
    </div>

{% endblock %}
