{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load operator_extras %}

{% block content %}

    {% if not user.is_authenticated %}
        <!--    Biohome: brand logo + brand name -->
        <div class="row justify-content-center">
            <div class="col text-center" style="margin-bottom: 2%">
                <img src="/media/biohome-logo.png" class="img-fluid" alt="Biohome">
                <h1 class="display-4 mt-5">
                    Welcome to Biohome !
                    <span class="fa fa-leaf" style="color: #6ab53c"></span>
                </h1>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <blockquote class="blockquote text-center">
                <p class="mb-0">This website and mobile apps provided by our developers are currently under development.</p>
                <p >
                    If you encounter a bug or a glitch, please feel free
                    to <a href="mailto:contact@biohome.fr" class="text-dark">report</a> it as
                    we may fix it later, for your comfort. :)
                </p>
                <footer class="blockquote-footer"><cite title="We love you <3">The Biohome team</cite></footer>
            </blockquote>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1 class="display-4 my-5">
                    <span class="fa fa-leaf fa-flip-horizontal" style="color: #6ab53c"></span>
                    {{ user.username }}'s dashboard
                    <span class="fa fa-leaf" style="color: #6ab53c"></span>
                </h1>

                <hr />
            </div>
        </div>

        <div class="row justify-content-between my-4">
            <div class="col-6">
                <h3 class="display-5 text-left">
                    {% trans 'Your biomes' %}
                </h3>
                {% if object_list %}
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
{#                        <ol class="carousel-indicators">#}
{#                            {% for biome in object_list %}#}
{#                                <li class=btn-biohome" data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"#}
{#                                    {% if forloop.first %}class="active"{% endif %}#}
{#                                ></li>#}
{#                            {% endfor %}#}
{#                        </ol>#}
                        <div class="carousel-inner">
                            {% for biome in object_list %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <a href="{% url 'biome_detail' biome.pk %}" class="list-group-item list-group-item-action flex-column align-items-start my-2">
                                        <div class="d-flex w-100 justify-content-between mb-3">
                                            <div class="d-flex align-items-center">
                                                <h3 class="mb-0 mr-3">{{ biome.name }}</h3>
                                                {% if biome.current_cycle %}
                                                    <span class="badge badge-biohome">Active</span>
                                                {% else %}
                                                    <span class="badge badge-secondary">Idle</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="d-flex w-100 justify-content-left align-items-center my-1">
                                            <p class="mb-0 mr-3">{% trans 'Program currently running: ' %}</p>
                                            <span class="badge {% if biome.program %}badge-biohome-blue{% else %}badge-secondary{% endif %}">{{ biome.program }}</span>
                                        </div>
                                        <div class="d-flex w-100 justify-content-left align-items-center my-1">
                                            <p class="mb-0 mr-3">{% trans 'Cycle currently running: ' %}</p>
                                            <span class="badge {% if biome.current_cycle %}badge-biohome-blue{% else %}badge-secondary{% endif %}">{{ biome.current_cycle }}</span>
                                        </div>
                                        <div class="d-flex w-100 justify-content-end align-items-center my-1">
                                            <span class="badge badge-info">{{ modules|index:forloop.counter0 }} modules</span>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
{#                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">#}
{#                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                            <span class="sr-only">Previous</span>#}
{#                        </a>#}
{#                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">#}
{#                            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                            <span class="sr-only">Next</span>#}
{#                        </a>#}
                    </div>
                {% else %}
                    <p class="text-left">{% trans 'You have no biome.' %}</p>
                {% endif %}
            </div>
            <div class="col-6">
                <h3 class="display-5 text-right mb-3">
                    {% trans 'Last comments' %}
                </h3>
                {% if last_comments %}
                    <script src="{% static 'js/dashboard.js' %}"></script>
                    <div class="list-group">
                        {% for comment in last_comments %}
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row justify-content-around">
                                    <div class="col text-left">
                                        <strong>{{ comment.title }}</strong>
                                    </div>
                                    <div class="col text-right">
                                        <em>{% trans 'on' %} {{ comment.created_on|date:"M d, H:i" }}</em>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-right">{% trans "You haven't commented anything yet." %}</p>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="display-5">
                    {% trans 'Your profile' %}
                </h3>
                <a href="{% url 'user_details' user.pk %}" class="btn btn-biohome">
                    Go to my profile
                </a>
            </div>
        </div>
    {% endif %}

{% endblock %}
