{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Biohome" %} / {% trans "Program workloads" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sheet/style.css' %}">
{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <div class="sheets-header">
                <h2>Workloads
                    <a href={% url "workload_create" %} class="btn btn-default btn-lg pull-right sheet-create">
                        <span class="glyphicon glyphicon-plus"></span> Create
                    </a>
                </h2>
            </div>

            <div class="list-group">
                {% for obj in object_list %}
                    <a href="{% url 'workload_detail' obj.pk %}" class="list-group-item">
                        <h3 class="list-group-item-heading">{{ obj }}</h3>
                        <p class="list-group-item-text">{{ obj.description }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}
