{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Biohome" %} / {% trans "Program" %} / {% trans "Details" %}{% endblock %}

{% block content %}
<body>
<div class="container">
    <h1>{{ object.name }}
    <div class="btn-group pull-right">

        <form action="{% url 'culture_event' %}" method="post" id="launch_form">
            <input type="hidden" name="biome" value="11">
            <input type="hidden" name="action" value="{{ CULTURE_START }}">
            <input type="hidden" name="program" value="{{ object.pk }}">
        </form>

        <button type="submit" form="launch_form" class="btn btn-default">{% trans "Lancer" %}</button>

        <a href="{% url 'program_update' object.pk %}" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
        </a>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalDeleteProgram">
            <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
        </button>
    </div>
    </h1>
    <h4>
        <em>{% trans "Associated sheet" %} :</em>
        {% if object.sheet %}
            <a href="{% url 'sheet_detail' object.sheet.pk %}" class="btn btn-default"><strong>{{ object.sheet.name }}</strong></a>
        {% else %}
            <em>{% trans 'None' %}</em>
        {% endif %}
    </h4>

    <!-- Modal -->
    <div class="modal fade" id="modalDeleteProgram" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deleting program "{{ object.name }}"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    You're about deleting the program named <strong>{{ object.name }}</strong>.
                    Are you sure you want to do this ?
                </div>
                <div class="modal-footer">
                    <form action="{% url 'program1_delete' object.pk %}" method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, thanks</button>
                        <input type="submit" class="btn btn-biohome-wrong" value="{% trans 'Yep, delete it' %}" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br />
    <table width="100%">
        <tr>
            <td>{{ object.description|linebreaks }}</td>
        </tr>
    </table>

    <br />
    <h3>{% trans 'Specifications' %}</h3>
    <p><b>{% trans 'Duration' %}:</b> {{ object.duration }}</p>
    <p><b>{% trans 'Yield weight' %}:</b> {{ object.yeld_weight|floatformat:3 }} <b>{% trans 'gr' %}</b></p>
    <p><b>{% trans 'Yield quantity' %}:</b> {{ object.yield_quantity }}</p>
    <p><b>{% trans 'Yield size' %}:</b> {{ object.yeld_size }} <b>{% trans 'cm' %}</b></p>
    <p><b>{% trans 'Plant size' %}:</b> {{ object.plant_size }} <b>{% trans 'cm' %}</b></p>
    <p><b>{% trans 'Yield quality' %}:</b> {{ object.yield_quality }}/10</p>

    <br />
    <h3>{% trans 'First cycle' %}</h3>
    <p>
        {% if object.first_cycle %}
            <a href="{% url 'cycle_detail' object.first_cycle.pk %}" class="btn btn-default"><strong>{{ object.first_cycle }}</strong></a>
        {% else %}
            <em>{% trans 'None' %}</em>
        {% endif %}
    </p>

    <br />
    <h3>{% trans 'Workload' %}</h3>
    <p>
        {% if object.workload %}
            <a href="{% url 'workload_detail' object.workload.pk %}" class="btn btn-default"><strong>{{ object.workload }}</strong></a>
        {% else %}
            <em>{% trans 'None' %}</em>
        {% endif %}
    </p>
</div>

</body>
{% endblock %}
