{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Biohome" %} / {% trans "Program" %} / {% trans "Form" %}{% endblock %}

{% block content %}

    <body>
        <div class="container">
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <br/>
                <div class="text-center">
                    <input class="btn btn-default" align="center" type="submit" value="{% trans 'Save' %}">
                </div>
            </form>
        </div>
    </body>

{% endblock %}
