{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sheet/style.css' %}">
{% endblock %}

{% block content %}

    <div class="row align-items-center justify-content-between my-4">
        <div class="col-9">
            <h1 class="display-4">
                {% trans 'List of programs' %}
            </h1>
        </div>
        <div class="col-3 text-right">
            <a href="{% url 'program_create' %}" class="btn btn-biohome">
                Create a program
                <span class="fa fa-plus-square"></span>
            </a>
        </div>
    </div>

    <div class="list-group">
        {% for program in object_list %}
            <a href="{% url 'program_detail' program.pk %}" class="list-group-item list-group-item-action flex-column align-items-start my-2">
                <div class="d-flex w-100 justify-content-between mb-3">
                    <div class="d-flex align-items-center">
                        <h3 class="mb-0 mr-3"><u>{{ program.name }}</u></h3>
                    </div>
                    <div class="text-right">
                        <p class="mb-0">{% trans 'Duration' %}</p>
                        <span class="badge badge-biohome-wrong">{{ program.duration }}</span>
                    </div>
                </div>
                <div class="d-flex w-100 justify-content-center mb-3">
                    {% if program.description %}
                        <p class="mb-0">{{ program.description }}</p>
                    {% else %}
                        <p class="mb-0 font-italic text-danger">{% trans 'There is no available description for this program.' %}</p>
                    {% endif %}
                </div>
                <div class="d-flex w-100 justify-content-between align-items-center my-1">
                    <div class="d-flex align-items-center">
                        <p class="mb-0 mr-3">{% trans 'Culture sheet: ' %}</p>
                        <span class="badge {% if program.sheet %}badge-biohome-blue{% else %}badge-secondary{% endif %}">{{ program.sheet }}</span>
                    </div>
                    <div>
                        <span class="badge {% if program.author %}badge-biohome{% else %}badge-secondary{% endif %}">{% trans 'By' %} {{ program.author }}</span>
                    </div>
                </div>
            </a>
        {% empty %}
            <p>There is no available program for the moment.</p>
        {% endfor %}
    </div>

{% endblock %}
