{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sheet/style.css' %}">
{% endblock %}

{% block content %}

    <div class="row align-items-center justify-content-between my-4">
        <div class="col-9">
            <h1 class="display-5">
                {% trans "List of 'taxonomy' components" %}
            </h1>
        </div>
        <div class="col-3 text-right">
            <a href="{% url 'sheet_taxonomy_create' %}" class="btn btn-biohome">
                Add a component
                <span class="fa fa-plus-square"></span>
            </a>
        </div>
    </div>

    <div class="list-group">
        {% for taxonomy in object_list %}
            <a href="{% url 'sheet_taxonomy_detail' taxonomy.pk %}" class="list-group-item list-group-item-action flex-column align-items-center my-2">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <div>
                        <p class="mb-0 mr-3">{% trans 'Parent' %}</p><span class="badge {% if taxonomy.parent %}badge-biohome-blue{% else %}badge-secondary{% endif %}">{{ taxonomy.parent }}</span>
                    </div>
                    <div>
                        <h3>{{ taxonomy }}</h3>
                    </div>
                    <div class="text-right">
                        <p class="mb-0">{% trans 'Rank' %}</p><span class="badge badge-biohome">{{ taxonomy.rank }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
