{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Biohome" %} / {% trans "Taxonomy" %} / {% trans "Details" %}{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <h1>{{ object.name }}
                <div class="btn-group pull-right">
                    <a href="{% url 'sheet_taxonomy_update' object.pk %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
                    </a>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalDeleteSheetTaxonomyRank">
                        <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
                    </button>
                </div>
            </h1>

            <!-- Modal -->
            <div class="modal fade" id="modalDeleteSheetTaxonomyRank" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Do you really want to delete'%} {{ object.name }}?</h4>
            </div>
            <div class="modal-body text-center">
                <form action="{% url 'sheet_taxonomy_delete' object.pk %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close'%}</button>
                    <input type="submit" class="btn btn-primary" value="{% trans 'Yes' %}" />
                </form>
            </div>
            </div></div></div>

            <h3>{% trans 'Parent' %}</h3>
            {% if object.parent %}
                <a href="{% url 'sheet_taxonomy_detail' object.parent.pk %}" class="btn btn-default">
                    <b>{{ object.parent }}</b>
                </a>
            {% else %}
                {% trans 'None' %}
            {% endif %}

	    {% if object.rank %}
            <h3>{% trans 'Rank' %}</h3>
            <a href="{% url 'sheet_taxonomy_rank_detail' object.rank.pk %}" class="btn btn-default">
                <b>{{ object.rank }}</b>
            </a>
	    {% endif %}
        </div>
    </body>
{% endblock %}
