{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Biohome" %} / {% trans "Biome module" %} / {% trans "Details" %}{% endblock %}

{% block content %}
<body>
<div class="container">
    <h1>{{ object.type.name }}
    <div class="btn-group pull-right">
        <a href="{% url 'module_update' object.pk %}" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
        </a>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalDeleteBiomeModule">
            <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
        </button>
    </div>
    </h1>
    <h4>
        <em>{% trans 'Version' %} :</em>
        {{ object.type.version }}
    </h4>

    <!-- Modal -->
    <div class="modal fade" id="modalDeleteBiomeModule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans 'Do you really want to delete'%} {{ object.name }}?</h4>
    </div>
    <div class="modal-body text-center">
        <form action="{% url 'module1_delete' object.pk %}" method="post">
            {% csrf_token %}
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close'%}</button>
            <input type="submit" class="btn btn-primary" value="{% trans 'Yes' %}" />
        </form>
    </div>
    </div></div></div>

    <br />
    <h3>{% trans 'Status' %}</h3>
    <p>
        {% if object.active %}
            <span class="label label-success">Active</span>
        {% else %}
            <span class="label label-danger">Inactive</span>
        {% endif %}
    </p>
</div>

</body>
{% endblock %}
