{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sheet/style.css' %}">
{% endblock %}

{% block content %}

    <div class="row align-items-center justify-content-between my-4">
        <div class="col-9">
            <h1 class="display-4">
                {% trans 'List of biomes modules' %}
            </h1>
        </div>
        <div class="col-3 text-right">
            <a href="{% url 'module_create' %}" class="btn btn-biohome">
                Add a module
                <span class="fa fa-plus-square"></span>
            </a>
        </div>
    </div>

    <div class="list-group">
        {% for module in object_list %}
            <a href="{% url 'module_detail' module.pk %}" class="list-group-item list-group-item-action flex-column align-items-start my-2"
               style="background-color: {% if module.active %}rgba(0, 255, 0, 0.05){% else %}rgba(255, 0, 0, 0.05){% endif %}">
                <div class="d-flex w-100 justify-content-between">
                    <div class="d-flex align-items-center">
                        <h3 class="mb-0 mr-1">{{ module.type.name }}</h3>
                        <small class="mr-3">({{ module.biome }} biome)</small>
                        {% if module.active %}
                            <span class="badge badge-biohome">{% trans 'Active' %}</span>
                        {% else %}
                            <span class="badge badge-biohome-wrong">{% trans 'Inactive' %}</span>
                        {% endif %}
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="badge badge-info">{{ module.type.version }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
