{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Biohome" %} / {% trans "Profile" %} / {% trans "Form" %}{% endblock %}

{% block content %}

    <div class="container">
	    <div class="row">
    	    <div class="col-md-4 col-md-offset-4 text-center">
                <form method="post" class="loginForm" action="{% url 'profile_detail' %}">
                    <div class="input-group">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <input type="submit" id="submit" class="form-control" value="{% trans "Save" %}">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}