{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="row align-items-center justify-content-center my-4">
        <div class="col-12">
            <h1 class="display-4">
                {% if user.pk == request.user.pk %}
                    {% trans 'My profile' %}
                {% else %}
                    Profile of {{ user.username }}
                {% endif %}
            </h1>

            <hr />
        </div>
    </div>

    {% if user.pk == request.user.pk %}
        <div class="row align-items-center justify-content-center my-4">
            <div class="col-12">
                <h2 class="display-5">
                    {% trans 'Account' %}
                </h2>
                <div class="row justify-content-start my-4">
                    <div class="col-3">
                        <input class="form-control" type="email" name="email" value="{{ user.email }}" disabled>
                    </div>
                    <div class="col-3">
                        <a href="#" class="btn btn-biohome disabled" role="button" aria-disabled="true">
                            Change my email
                            <span class="fa fa-at"></span>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-start my-4">
                    <div class="col-3">
                        <input class="form-control" type="password" name="password" value="{{ user.password }}" disabled>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'password_change' %}" class="btn btn-biohome">
                            Change my password
                            <span class="fa fa-lock"></span>
                        </a>
                    </div>
                </div>

                <hr />
            </div>
        </div>
    {% endif %}

    <div class="row align-items-center justify-content-center my-4">
        <div class="col-12">
            <h2 class="display-5">
                {% trans 'Personal informations' %}
            </h2>
            {% if user.first_name or user.last_name %}
                <div class="row justify-content-start my-4">
                    <div class="col-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="first_name">First name</span>
                            <input class="form-control text-center" aria-describedby="first_name" type="text" value="{% if user.first_name %}{{ user.first_name }}{% else %}{% endif %}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start my-4">
                    <div class="col-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="last_name">Last name</span>
                            <input class="form-control text-center" aria-describedby="last_name" type="text" value="{% if user.last_name %}{{ user.last_name }}{% else %}{% endif %}" disabled>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>{% trans 'There is no information available.' %}</p>
            {% endif %}
        </div>
    </div>

{% endblock %}