{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load operator_extras %}

{% block content %}

    <!--    Biohome: title -->
    <div class="row justify-content-center" style="margin-top: 10%; margin-bottom: 4%">
        <div class="col-12">
            <h1 class="text-center">
                <span class="fa fa-users"></span>
                {% trans "Who are you looking for today ?" %}
            </h1>
        </div>
    </div>

    <!--    Biohome: "users" search bar -->
    <div class="row justify-content-center">
        <div class="col">
            <form action="{% url 'users_list' %}" method="get" class="form-group">
                <div class="form-row justify-content-center">
                    <div class="col-6">
                        <input type="text" name="search" class="form-control" placeholder="{% trans "You can enter any username here ..." %}">
                    </div>

                    <div class="col-auto">
                        <button id="submit" class="btn btn-biohome-blue">
                            Search
                            <span class="fa fa-user"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% for user in object_list %}
        {% if forloop.counter0|modulo:4 == 0 %}
            <div class="row justify-content-center my-5">
                <div class="card-deck">
        {% endif %}
                    <div class="card text-center">
{#                        <a href="{% url 'user_details' user.pk %}">#}
{#                            <img class="card-img-top" src="{% if user.image %} /{{ user.image.url }} {% else %} /media/biohome-logo.png {% endif %}" alt="{{ user.username }}" style="height: 180px">#}
{#                        </a>#}
                        <a href="{% url 'user_details' user.pk %}">
                            <div class="card-header">
                                <span class="fa fa-user-circle fa-lg" style="color: #2980b9"></span>
                            </div>
                            <div class="card-body my-3" style="padding: 0.5rem">
                                <h5 class="card-title my-2">{{ user.username }}</h5>
                            </div>
                            <div class="card-footer d-inline-flex align-items-center justify-content-center">
                                <div>
                                   <a href="{% url 'user_details' user.pk %}" class="btn btn-sm btn-biohome-blue">
                                       View profile

                                        <span class="fa fa-info-circle ml-2"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
        {% if forloop.counter|modulo:4 == 0 or forloop.last %}
                </div>
            </div>
        {% endif %}
    {% empty %}
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h1 class="display-5 mt-5">
                    User not found
                    <span class="fa fa-free-code-camp" style="color: #b51a14"></span>
                </h1>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-6 text-center alert alert-danger" role="alert">
                <p class="mb-0 text-dark">
                    We couldn't find any user with the specified keyword.<br/>
                    Please, <a href="{% url 'users_list' %}" class="alert-link">try again</a> with another keyword !
                </p>
            </div>
        </div>
    {% endfor %}

    <link rel="stylesheet" href="{% static 'css/sheet/sheet_search.css' %}">
    <script src="{% static 'js/culture_sheets_cards.js' %}"></script>

{% endblock %}